body{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

p{
  color: black;
}

button {
  background-repeat: no-repeat;
  background-image: Blooks/alice.svg;
}

#warning{
  color: black;
  font-size: 5px;
}

#discord{
  text-align: left;
}

#TOS{
  color: black;
}

#TOSTitle{
  color: black;
}