body {
    background-color: #191919;
    font-family: sans-serif;
    color: #ffffff;
}

button{
    border:0;
    background : none;
    margin: 5px;
    border: 2px solid #990099;
    padding: 7px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
button:hover{
    background-color: #990099;
}
