body{
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#fuckfags{
  color: white;
}

#warning{
  color: white;
  font-size: 5px;
}

#discord{
  text-align: left;
}

#TOS{
  color: white;
}

#TOSTitle{
  color: white;
}